<html>
<head>
    <title>Test form</title>
</head>
<body>
<h1 id="TestForm">Test form</h1>
<form action="." method="POST" accept-charset="utf-8">
    <table>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td><input type="text" name="search_text" placeholder="What we will search in books?" size=80></td></tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td><input type="text" name="email" placeholder="Your e-mail for search results" size=80></td></tr>
    <tr><td></td><td></td><td align="right"><input type="submit" value="Search"></td></tr>
    </table>
</form>

</body>
</html>